input{
    margin-left: 30px;
    padding: 10px 20px;
    margin-top: 5px;
    box-sizing: border-box;
    display: inline-block;
    box-sizing: border-box;
    border-color: darkblue 2px;
    width: 20%;
    
}
 label{
     width:20%;
    padding: 8px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
     text-align: right;
}
.btn{
    background-color: lightgreen;
    font-size: 18px;
    width: 200px;
    height: auto;
    margin-left: 50%;
    border-radius: 10px;
    color: blue;
}
.page{
   color: darkgreen;
    font-size: 25px;
}